{% extends "base.html" %}


{% block title %}

About | Sanskar Acharya

{% endblock %}



{% block content %}


<section class="about">


<h1>
About Me
</h1>


<p>

Hello, I am Sanskar Acharya, a BSc.CSIT student
from Pokhara, Nepal.

</p>


<p>

Currently, I am in my 4th semester and learning
Python and Django while building practical projects.

</p>


<p>

My programming journey started with C and C++.
Now I am exploring web development, databases,
and backend technologies.

</p>


<h2>
Education
</h2>


<p>
Bachelor of Science in Computer Science and Information Technology (BSc.CSIT)
</p>


<p>
Tribhuvan University, Nepal
</p>


</section>


{% endblock %}