
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: "Poppins", sans-serif;
    background:#F8F4E9;
    color:#1F2937;
}

@media (max-width: 768px) {

    .container {
        padding: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 16px;
    }

    .navbar {
        flex-direction: column;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: 1fr;
    }

}

/* =========================
   404 PAGE
========================= */

.error-page {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.error-container h1 {
    font-size: 120px;
    color: #059669;
    margin-bottom: 10px;
}


.error-container h2 {
    font-size: 32px;
    margin-bottom: 15px;
}


.error-container p {
    color: #6b7280;
    margin-bottom: 30px;
}


.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #059669;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;
}


.btn:hover {
    transform: translateY(-3px);
}
