*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:Arial, sans-serif;
    background:#f8f9fa;
    color:#222;

}


/* Navbar */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:#111;

    color:white;

}


.logo{

    font-size:24px;
    font-weight:bold;

}


nav ul{

    display:flex;
    gap:25px;
    list-style:none;

}


nav a{

    color:white;
    text-decoration:none;

}



/* Hero */


.hero{

    min-height:85vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:50px 10%;

    gap:40px;

}



.hero-text{

    max-width:600px;

}



.hero h1{

    font-size:48px;

    margin-bottom:20px;

}



.hero h1 span{

    color:#2563eb;

}



.hero h2{

    font-size:25px;

    margin-bottom:20px;

}



.hero p{

    font-size:18px;

    line-height:1.6;

}



/* Buttons */


.buttons{

    margin-top:30px;

}



.btn{

    display:inline-block;

    padding:12px 25px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    border-radius:8px;

    margin-right:15px;

}



.secondary{

    background:#111;

}



/* Social */


.social{

    margin-top:30px;

}


.social a{

    margin-right:20px;

    text-decoration:none;

    color:#2563eb;

}



/* Image */


.hero-image img{

    width:280px;

    height:280px;

    border-radius:50%;

    object-fit:cover;

}



/* Footer */


footer{

    background:#111;

    color:white;

    text-align:center;

    padding:20px;

}

/* =========================
   Projects
========================= */

.projects-section{
    padding:80px 10%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
    font-size:40px;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.project-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-content{
    padding:20px;
}

.project-content h2{
    margin-bottom:10px;
}

.project-content p{
    margin-bottom:15px;
    line-height:1.6;
}

.project-links{
    display:flex;
    gap:15px;
}

.project-links a{
    text-decoration:none;
    background:#2563eb;
    color:#fff;
    padding:10px 18px;
    border-radius:8px;
}

/* Featured Projects */

.featured-projects{
    padding:80px 10%;
    background:#f8f9fa;
}

.featured-projects h2{
    text-align:center;
    font-size:38px;
    margin-bottom:50px;
}

.center-btn{
    text-align:center;
    margin-top:40px;
}